#copyright {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: var(--main-text-color);

    cursor: pointer;
}


#popup-container {
    position: fixed;
    bottom: 0;
    left: 0;

    max-height: 100px;

    pointer-events: none;

    overflow: hidden;
}

#popup {
    height: 100px;
    transition: transform 1s;
}

.hide {
    transform: translateY(100px);
}
